
*{
    padding: 0;
    border:0;
    margin: 0;
}

body{
    background-color: var(--branco);
    font-family:var(--fonte_Inter);
    /* margin: 28px 122px; */
}

.container-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 28px 122px; */
}
.container__primeira-secao{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-cabecalho-titulo{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.titulo-cabecalho{
    color: var(--cinza);
}
.botoes-navegacao{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color:var(--Cinza-Secundario);
}

.texto-cabecalho{
    text-decoration: none;
    color: var(--cinza-claro);
    font-weight: 500;
    font-size: 16px;
}

.botao-login{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.botao__login__cadastro{
    text-decoration: none;
    color: var(--cinza-claro);
}

.cadastro{
    border: 2px;
    background-color:var(--vinho);
    color:var(--branco);
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}